{{#section 'js'}}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script>
    function handleLink(s) {
        // href
        window.location.href = "/user/?id=" + s;
    }


    $(document).ready(function () {
        $(".block-btn").click(function () {
            var str = $("#block-username").val() + "";
            $("#block-username").val("");
            // send axios request to server
            const data = axios.post(`/product/block?idUserBlock=${str}&idProduct={{product._id}}`).then(
                function (response) {
                    console.log(response.data);
                    if (response.data.message + "" === "success") {
                        alert("Chặn người mua thành công");
                        location.reload();
                    }
                    if (response.data.message + "" === "fail") {
                        alert("Người dùng đã được chặn trước đó");
                    }
                    if (response.data.message + "" === "Not found") {
                        alert("Id người dùng không chính xác");
                    }
                    if (response.data.message + "" === "Owner") {
                        alert("Bạn không thể chặn chính mình");
                    }
                });
        });

        $('#autoBid').click(() => {
            var currentPrice = $('.product-current-price')[0].getElementsByTagName('span')[0];
            currentPrice = parseInt(currentPrice.textContent.split(' ')[0]);
            var yourbid = $('#bid').val();
            var point = -1;
            {{#if user}}
            point = {{user.point}}
            {{/if}}

            {{!-- {{}} --}}

            if(point < 0){
                return;
            }
            console.log(point);
            return;
        })

        var responseEmail;
            $.validator.addMethod(
                    "uniqueUserEmail",
                    function (value, element) {
                        $.ajax({
                            type: "GET",
                            url: location.origin + `/user/cansignup?email=${value}`,
                            dataType: "html",
                            success: function (msg) {
                                responseEmail = JSON.parse(msg).success;
                            }
                        })
                        return responseEmail;
                    },
            );

        $('#bid-form').validate({

        })

    });


    async function handledWishlist(id) {
        const url = window.origin;
        const data = await axios.post(`${url}/user/wishlist?id=${id}`).then((reponse) => {
            location.reload();
        })
    }

    function handleSubmit(id) {
        window.location.href = `/product/detail/?id=${id}`;
    }
</script>

<script src="https://cdn.tiny.cloud/1/5xeo6zdogsqyjcy06zbahmwuikqh5zs57h1hwtdiyqg5mnfj/tinymce/7/tinymce.min.js" 
        referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: "textarea",
        apiKey: "5xeo6zdogsqyjcy06zbahmwuikqh5zs57h1hwtdiyqg5mnfj"
        height: 400,
        plugins: "paste image link autolink lists table media",
        menubar: false,
        toolbar: [
            "undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright",
            "forecolor backcolor",
            "table link image media"
        ]
    });
</script>

<script>
    $('#edit-descripe').click(() => {
        if ($("#post-form").css('display') == 'none') {
            $("#post-form").show();
        } else {
            $("#post-form").hide();
        }

    });

    $('#cancel-edit-descripe').click(() => {
        $("#post-form").hide();
    });
</script>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>

{{/section}}


<style>
    .btn-heart {
        background-color: rgb(255, 255, 255);
        border-color: rgb(101, 101, 101);
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding: 5px 4px 1px;
    }

    .icon-heart {
        max-height: 28px;
        display: inline-block;
    }

    .report_text {
        font-size: 18px;
        color: #000;
        padding: 1rem 1rem;
    }

    .noresultsuggestion {
        background: #fff;
    }

    li .active-category {
        color: white !important;
        background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(249, 22, 242, 0.5144258386948529) 0%, rgb(219, 45, 244) 0%, rgb(8, 182, 216) 100%);
    }

    li .active-category:hover {
        color: black !important;
    }
</style>

<div class="container product-detail my-5">
    <!-- Begin top card -->
    <div class="row mt-5 card-wrapper">
        <!-- Begin left card -->
        <div class="card-product col-lg-5 col-md-12 col-12">
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">

                        {{#each product.images}}
                        <img src="{{this}}" class="product-img" />
                        {{/each}}
                    </div>
                </div>
                <div class="img-select">

                    {{#each product.images}}
                    <div class="img-item">
                        <a href="#" data-id="{{math @index "+" 1}}">
                            <img src="{{this}}" class="product-img" alt="shoe image" />
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- End left card -->

        <!-- Begin right card -->
        <div class="col-lg-6 col-md-12 col-12 product-content">
            <h2 class="product-title">{{product.name}}</h2>

            <div class="seller">
                <div>Người bán</div>
                <span style="cursor: pointer;" class="user-name"
                    onclick="handleLink(`{{user._id}}`)">{{user.profile.name}} <i class="fa fa-user"
                        aria-hidden="true"></i></span>
                <span class="user-point">{{user.point}}<i class="fa fa-heart" aria-hidden="true"></i> </span>
            </div>

            <div class="post-date">
                <label>Ngày đăng</label>
                <span>{{product.sellDate}}</span>
            </div>
            <div class="time-countdown">
                <label>Thời gian còn lại</label>
                <span class="{{product._id}}"> </span>

                <script>
                    function countDown(dateExp) {

                        var countDownDate = +dateExp;
                        var distance;

                        // Update the count down every 1 second
                        var x = setInterval(function () {
                            distance = countDownDate - Date.now();
                            // Time calculations for days, hours, minutes and seconds
                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                            $(".{{product._id}}").html(days + "d : " + hours + "h :" + minutes + "m :" +
                                seconds + "s");

                            // If the count down is finished, write some text
                            if (distance < 0) {
                                clearInterval(x);
                                $(".{{product._id}}").html("EXPIRED");
                            }

                        }, 500);
                    }

                    countDown(`{{product.expDate}}`)
                </script>


            </div>

            <div class="product-current-price">
                <label>Giá hiện tại</label>
                <span>{{product.currentPrice}} vnđ</span>
            </div>


            <div class="bidder">
                <div>Người ra giá cao nhất</div>

                {{#if product.highestBidderId}}

                {{#if isOwner}}
                <span class="user-name" onclick="handleLink(`{{product.highestBidderId}}`)">{{product.highestBidder}}<i
                        class="fa fa-user" aria-hidden="true"></i> </span>
                <span class="user-point">{{product.highestBidderPoint}}<i class="fa fa-heart" aria-hidden="true"></i>
                </span>

                {{/if}}

                {{else}}
                <span>Hãy là người đầu tiên trả giá cao nhất</span>

                {{/if }}

            </div>


            {{#if product.bestPrice}}
            <div class="product-buy-price">
                <div>Giá mua ngay</div>
                <div class="d-flex justify-content-between">
                    <span>{{commaNumber product.bestPrice}} vnđ</span>
                    <button class="buynow-btn">Mua ngay</button>
                </div>
            </div>
            {{else}}

            <div class="mb-4"></div>
            {{/if}}



            <form method="post" id="bid-form" action="/product/bidding?id={{product._id}}" class="d-flex justify-content-between">
                <input type="text" id="bid" name="bid" placeholder="Mức giá tối đa bạn tham gia"
                    style="border: 0.1px solid; padding: 1px 10px; height: 3rem;" />
                <button type="submit" id="autoBid" class="submit-btn">Đấu giá</button>
            </form>
        </div>
        <!-- End right card -->

    </div>
    <!-- End top card -->

    <!-- Begin bottom card -->
    <div class="row mt-5 card-wrapper">
        <div class="col-lg-8 col-md-12">
            <h2 style="display: inline-block;">Mô tả sản phẩm
            </h2>

            <!-- if role is seller -->
            {{#if isOwner}}
            <button id="edit-descripe" class="btn"
                style="display: inline-block; position: absolute; right: 30px; top:0px">
                <i class="fas fa-pen    "></i>
            </button>
            {{/if}}

            <p>
                {{{product.description}}}
            </p>

            <form method="POST" id="post-form" class="post-form" style="display: none;">
                <hr>
                <div class="row p-t-15">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="description" class="label-input">
                                <h2> Thêm mô tả chi tiết sản phẩm</h2>
                            </label>
                            <textarea name="description" id="description" cols="30" rows="10" class="form-input w-100"
                                placeholder="Nhập mô tả sản phẩm"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center ">
                    <button type="submit" style="border-radius: 20px; width: 6rem;" class="btn  btn-success mx-2">
                        Cập nhật
                    </button>
                    <button type="button" id="cancel-edit-descripe" class="btn btn-danger mx-2"
                        style="border-radius: 20px; width: 6rem">
                        Hủy
                    </button>
                </div>
            </form>


        </div>


        <div class="col-lg-4 col-md-12 col-12 table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">Thời điểm</th>
                        <th scope="col">Người mua</th>
                        <th scope="col">Giá</th>
                    </tr>
                </thead>
                <tbody>


                    {{#each product.historyBidId}}
                    <tr>
                        <td>{{bidDate}}</td>
                        <td>{{username}}</td>
                        <td>{{price}} vnđ</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <!-- role = seller, block bidder -->
            {{#if isOwner}}
            <div class=" d-flex justify-content-center pt-3">

                <!-- Begin popup -->

                <button type="button" class="btn btn-danger mx-1" data-toggle="modal" data-target="#inputIdleModal"
                    data-whatever="@mdo">
                    Chặn người dùng
                </button>

                <button type="button" class="btn btn-info mx-1" data-toggle="modal" data-target="#blocklist"
                    data-whatever="@mdo">
                    Danh sách bị chặn
                </button>


                <div class="modal fade" tabindex="-1" id="inputIdleModal" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Chặn người mua</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Nhập id người muốn
                                            chặn:</label>
                                        <input id="block-username" type="text" class="form-control" id="recipient-name">

                                    </div>
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                    </button>
                                    <button type="button" class="btn btn-danger block-btn">Chặn</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" id="blocklist" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Danh sách bị chặn</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Tên người dùng</th>
                                        </tr>
                                    <tbody>

                                        {{#each blockList}}
                                        <tr>
                                            <td><a href="javascript:;"
                                                    onclick="handleLink(`{{_id}}`)">{{profile.name}}</a></td>
                                        </tr>
                                        {{/each}}


                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End popup -->
            </div>
            {{/if}}
        </div>
    </div>
    <!-- End right card -->

    <hr>

    <!-- Relate product -->
    <div class="slider">
        <div class="container">
            <h2>Sản phẩm liên quan</h2>
            <div class="row autoplay">

                {{#each productRelative}}
                <div class="col mx-4 my-5">
                    {{!-- Start Item --}}

                    <div class="auction-item">
                        {{#if isNew}}
                        <div style="color: aliceblue;
                                    padding: 5px 5px;
                                    margin: 5px 5px;
                                    border-radius:15px;
                                    background-color: rgb(20, 204, 228);
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    z-index: 10;">
                            NEW
                            <i class="fas fa-splotch" style="color: rgb(243, 239, 10);"></i>
                        </div>
                        {{/if}}

                        {{#if isBidding}}
                        <div style="color: aliceblue;
                                    padding: 5px 5px;
                                    margin: 5px 5px;
                                    border-radius:15px;
                                    background-color: rgb(13, 219, 65);
                                    position: absolute;
                                    left: 0px;
                                    top: 33%;
                                    z-index: 10;">
                            BIDDING
                            <i class="fas fa-hourglass" style="color: rgb(248, 53, 238);"></i>
                        </div>
                        {{/if}}
                        <div class="auction-item-thumb">

                            <a class="thumb-img" href="/product/detail/?id={{_id}}">
                                <img src={{getThumbnail images}} alt="item">
                            </a>


                            {{#if ../username}}
                            {{#if isWishlist}}

                            <a class="star-icon thumb-icon" style="cursor: pointer"
                                onclick="handledWishlist(`{{this._id}}`)">
                                <button class="btn btn-heart d-inline-block" style="position: relative;"><i
                                        class="icon-heart fa fa-heart" aria-hidden="true"
                                        style="position: absolute;left: 6px;top: 6.9px; color: red;"
                                        id="fa-{{this._id}}"></i>
                                </button>
                            </a>
                            {{else}}

                            <a class="star-icon thumb-icon" style="cursor: pointer"
                                onclick="handledWishlist(`{{this._id}}`)">
                                <button class="btn btn-heart d-inline-block" style="position: relative;"><i
                                        class="icon-heart far fa-heart" aria-hidden="true"
                                        style="position: absolute;left: 6px;top: 6.9px; color: red;"
                                        id="fa-{{this._id}}"></i>
                                </button>
                            </a>

                            {{/if}}

                            {{/if}}


                        </div>
                        <div class="auction-item-content">
                            <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 270px">
                                {{name}}
                            </div>

                            <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; ">
                                Ngày bán: {{sellDate}}
                            </div>

                            {{#if currentWinner}}
                            <div>
                                Người đang trả giá cao nhất:<br>{{currentWinner}}
                            </div>
                            {{else}}
                            <div>
                                Hãy là người đầu tiên trả giá:<br>&nbsp;
                            </div>
                            {{/if}}


                            <div class="bid-area d-flex justify-content-center">
                                <div class="bid-amount current-price d-flex">
                                    <div class="icon">
                                        <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">
                                            Giá hiện tại
                                        </div>
                                        <div class="amount">
                                            {{commaNumber currentPrice}}
                                        </div>
                                    </div>
                                </div>


                                <div class="bid-amount buy-price d-flex">
                                    <div class="icon">
                                        {{!-- <i class="fas fa-money-bill fa-2x"></i> --}}
                                        <i class="fas fa-dollar-sign  fa-2x  "></i>
                                    </div>

                                    <div class="amount-content">
                                        <div class="buy">
                                            Mua ngay
                                        </div>
                                        {{#if bestPrice}}
                                        <div class="amount">
                                            {{commaNumber bestPrice}}
                                        </div>
                                        {{else}}
                                        <div class="amount">
                                            ---
                                        </div>
                                        {{/if}}

                                    </div>

                                </div>
                            </div>


                            <div class="countdown-area d-flex ">
                                <div class="expDate" hidden>{{this.expDate}}</div>
                                <div id="{{this._id}}" class="countdown product-one">
                                </div>
                                <span class="total-bids">
                                    {{numberBidders}} bids
                                </span>
                            </div>
                            <div class="bid-now" type="button">
                                <a style="cursor: pointer" onclick="handleSubmit(`{{this._id}}`)">
                                    Bid now
                                </a>
                            </div>
                        </div>


                    </div>
                    {{!--End Item --}}
                </div>
                {{/each}}


            </div>


        </div>
    </div>

    <!-- End Relate product -->


</div>
<!-- End top card -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


<script>
    const imgs = document.querySelectorAll('.img-select a');
    const imgBtns = [...imgs];
    let imgId = 1;
    imgBtns.forEach((imgItem) => {
        imgItem.addEventListener('click', (event) => {
            event.preventDefault();
            imgId = imgItem.dataset.id;
            slideImage();
        });
    });

    function slideImage() {
        const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;
        document.querySelector('.img-showcase').style.transform = `translateX(${-(imgId - 1) *
        displayWidth}px)`;
    }

    window.addEventListener('resize', slideImage);

    function countDown() {

        var listCountDown = $(".countdown-area");
        console.log(listCountDown.length)
        var listID = [];
        var listExpDate = [];
        for (let i = 0; i < listCountDown.length; i++) {
            listID.push(listCountDown[i].getElementsByClassName("countdown")[0].id);
            listExpDate.push(+listCountDown[i].getElementsByClassName("expDate")[0].textContent);
        }

        // var countDownDate = +dateExp;
        var distance;
        var iterval = new Array(listID.length);
        // Update the count down every 1 second
        for (let i = 0; i < listID.length; i++) {
            iterval[i] = setInterval(function () {

                distance = listExpDate[i] - Date.now();
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                $(`#${listID[i]}`).html(days + "d : " + hours + "h :" + minutes + "m :" + seconds + "s");

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(iterval[i]);
                    $(`#${listID[i]}`).html("EXPIRED");
                }

            }, 1000);
        }
    };

    countDown();


    $('.autoplay').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: false,
        dots: true,
        speed: 800,
        focusOnSelect: true,
        slickSetOption: true,
        prevArrow: '<i class="fas fa-angle-left  left_arrow"></i>',
        nextArrow: '<i class="fas fa-angle-right right_arrow" ></i>',
        responsive: [{
                breakpoint: 1440,
                settings: {
                    slidesToShow: 3,
                }
            },
            {
                breakpoint: 1200,
                settings: {
                    slidesToShow: 2,
                }
            },
            {
                breakpoint: 790,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>