<script>
    var global_id = "";

    var global_name = "";


    function handleDeleteSubcategory(id, name) {
        // call axios
        axios.post('/admin/removesubcategory', {
            id: id,
            name: name
        }).then(function (response) {
            $("#success-message").click();
            location.reload();
        }).catch(function (error) {
            $("#alert-message").click();
            console.log(error);
        });
    }
</script>

<button id="success-message" class="d-none btn btn-success btn-lg toast-action"
        data-title="Hey, Bro!"
        data-message="Delete successfully"
        data-type="success"
        data-position-class="toast-top-center">
    Success Toast
</button>

<button id="alert-message" class="d-none btn btn-primary btn-lg toast-action"
        data-title="Hey, Bro!"
        data-message="Can not delete category due still exists product"
        data-type="error"
        data-position-class="toast-top-center">
</button>


<button id="alert-message-update" class="d-none btn btn-primary btn-lg toast-action"
        data-title="Hey, Bro!"
        data-message="Can not update category due still exists product"
        data-type="error"
        data-position-class="toast-top-center">
</button>


<button id="success-message-update" class="d-none btn btn-primary btn-lg toast-action"
        data-title="Hey, Bro!"
        data-message="Update successfully !"
        data-type="success"
        data-position-class="toast-top-center">
</button>


<button id="add-message-success" class="d-none btn btn-primary btn-lg toast-action"
        data-title="Hey, Bro!"
        data-message="Add successfully !"
        data-type="success"
        data-position-class="toast-top-center">
</button>


<button id="add-message-danger" class="d-none btn btn-primary btn-lg toast-action"
        data-title="Hey, Bro!"
        data-message="Add fail due cateogory exists !"
        data-type="error"
        data-position-class="toast-top-center">
</button>





<button id="success-message-update" class="d-none btn btn-primary btn-lg toast-action"
        data-title="Hey, Bro!"
        data-message="Update successfully !"
        data-type="success"
        data-position-class="toast-top-center">
</button>







{{#section 'js'}}

    <script>


        function handleUpdateSubcategory() {

            const id = global_id;
            const name = global_name;
            const newName = $("#nameUpdateSub").val();

            // call axios post data contain id and name
            axios.post('/admin/updatesubcategory', {
                id: id,
                name: name,
                newName: newName
            }).then(function (response) {
                // reload the page
                $("#success-message-update").click();
                location.reload();
            }).catch(function (error) {
                $("#alert-message-update").click();
                console.log(error);
            });
        }


        function setGlobalId(id) {
            global_id = id;
        }

        function setGlobalIdAndName(id, name) {
            global_id = id;
            global_name = name;
        }

        function handleDeleteCategory(id) {

            axios.post('/admin/removecategory', {
                id: id
            }).then(function (response) {
                // reload the page
                $("#success-message").click();
                location.reload();
            }).catch(function (error) {
                $("#alert-message").click();
                console.log(error);
            });
        }

        function handleUpdateCategory() {

            const id = global_id;
            const name = $("#nameUpdate").val()


            axios.post('/admin/updatecategory', {
                id: id,
                name: name
            }).then(function (response) {
                // reload the page
                $("#success-message-update").click();
                location.reload();
            }).catch(function (error) {
                $("#alert-message-update").click();
            });
        }

        const accordionItemHeaders = document.querySelectorAll(".accordion-item-header");
        const modifyCats = document.querySelectorAll(".modify-cat")
        accordionItemHeaders.forEach(accordionItemHeader => {
            accordionItemHeader.addEventListener("click", event => {
                accordionItemHeader.classList.toggle("active");
                const accordionItemBody = accordionItemHeader.nextElementSibling;
                if (accordionItemHeader.classList.contains("active")) {
                    accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
                } else {
                    accordionItemBody.style.maxHeight = 0;
                }
            });
        });
        modifyCats.forEach(modifyCat =>
                modifyCat.addEventListener('click', function () {
                    event.stopPropagation()
                })
        )
    </script>

    <script>
        const addCat = document.querySelector('.js-add-cat');
        const modal = document.querySelector(".js-modal-cat");
        const modalClose = document.querySelector('.js-modal-close');
        const modalContainer = document.querySelector('.js-modal-container')

        function showAddCat() {
            modal.classList.add('open');
        }

        function closeAddCat() {
            modal.classList.remove('open');
        }

        addCat.addEventListener("click", showAddCat)
        modalClose.addEventListener("click", closeAddCat);
        modal.addEventListener('click', closeAddCat);
        modalContainer.addEventListener('click', function () {
            event.stopPropagation()
        })

    </script>
    <script>


        function handleAddCategory() {
            const name = $('#nameCat').val();
            axios.post('/admin/addcategory', {
                name: name
            }).then(function (response) {
                // reload the page
                $("#add-message-success").click();
                location.reload();
            }).catch(function (error) {
                $("#add-message-danger").click();
                console.log(error);
            });
        }

        function handleAddSubCategory() {
            id = global_id;
            const name = $('#nameSubCat').val();
            // call axios post data contain id and name
            axios.post('/admin/addsubcategory', {
                id: id,
                name: name
            }).then(function (response) {
                // reload the page
                $("#add-message-success").click();
                location.reload();
            }).catch(function (error) {
                $("#add-message-danger").click();
                console.log(error);
            });

        }
    </script>


    <script>


        const addSubCats = document.querySelectorAll('.js-add-sub-cat');
        const modalSubCat = document.querySelector(".js-modal-sub-cat");
        const modalSubCatClose = document.querySelector(".js-modal-close-sub-cat");
        const modalContainerSubCat = document.querySelector('.js-modal-container-sub-cat');


        function showAddSubCat() {
            modalSubCat.classList.add('open');
        }

        function closeAddSubCat() {
            modalSubCat.classList.remove('open');
        }

        addSubCats.forEach(addSubCat => addSubCat.addEventListener('click', showAddSubCat))

        modalSubCatClose.addEventListener('click', closeAddSubCat);
        modalContainerSubCat.addEventListener('click', function () {
            event.stopPropagation()
        })
    </script>

    <script>
        const editSubCats = document.querySelectorAll('.js-edit-sub-cat')
        const modalEditSubCat = document.querySelector(".js-modal-edit-sub-cat");
        const modalEditSubCatClose = document.querySelector(".js-modal-close-edit-sub-cat");
        const modalContainerEditSubCat = document.querySelector('.js-modal-container-edit-sub-cat');


        function showEditSubCat() {
            modalEditSubCat.classList.add('open');
        }

        function closeEditSubCat() {
            modalEditSubCat.classList.remove('open');
        }

        editSubCats.forEach(editSubCat => editSubCat.addEventListener('click', showEditSubCat))

        modalEditSubCatClose.addEventListener('click', closeEditSubCat);
        modalContainerEditSubCat.addEventListener('click', function () {
            event.stopPropagation()
        })
    </script>

    <script>
        const editCats = document.querySelectorAll('.js-edit-cat')
        const modalEditCat = document.querySelector(".js-modal-edit-cat");
        const modalEditCatClose = document.querySelector(".js-modal-close-edit-cat");
        const modalContainerEditCat = document.querySelector('.js-modal-container-edit-cat');


        function showEditCat() {
            modalEditCat.classList.add('open');
        }

        function closeEditCat() {
            modalEditCat.classList.remove('open');
        }

        editCats.forEach(editCat => editCat.addEventListener('click', showEditCat))

        modalEditCatClose.addEventListener('click', closeEditCat);
        modalContainerEditCat.addEventListener('click', function () {
            event.stopPropagation()
        })
    </script>

{{/section}}

<style>
    .accordion {
        width: 90%;
        max-width: 1000px;
        margin: 2rem auto;
    }

    .accordion-item {
        background-color: #fff;
        color: #111;
        margin: 1rem 0;
        border-radius: 0.5rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    }

    .accordion-item-header {
        padding: 0.5rem 3rem 0.5rem 1rem;
        min-height: 3.5rem;
        line-height: 1.25rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }

    .accordion-item-header::after {
        content: "\002B";
        font-size: 2rem;
        position: absolute;
        right: 1rem;
    }

    .accordion-item-header.active::after {
        transform: rotate(45deg);
    }

    .accordion-item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordion-item-body-content {
        overflow: hidden;
        padding: 1rem;
        line-height: 1.5rem;
        border-top: 1px solid #34495e;
    }


    /* create pop-up menu */
    .modal-cat {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }

    .modal-cat.open {
        display: flex;
    }

    .modal-sub-cat {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }

    .modal-sub-cat.open {
        display: flex;
    }

    .modal-edit-sub-cat {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }

    .modal-edit-sub-cat.open {
        display: flex;
    }

    .modal-edit-cat {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }

    .modal-edit-cat.open {
        display: flex;
    }

    .modal-container {
        position: relative;
        background: #fff;
        width: 900px;
        max-width: calc(100% - 32px);
        min-height: 200px;
        animation: modalFadeIn ease 0.5s;
    }

    .modal-header-cat {
        background: #009688;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #fff;
    }

    .modal-close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px;
        color: #fff;
        cursor: pointer;
        opacity: 0.8;
    }

    .modal-close:hover {
        opacity: 1;
    }

    .i-header {
        margin-right: 16px;
    }

    .modal-body-cat {
        padding: 16px;
    }

    .modal-label-cat {
        display: block;
        font-size: 15px;
        margin-bottom: 1rem;
    }

    .modal-input-cat {
        border: 1px solid #ccc;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        margin-bottom: 1rem;
    }

    #add-cat {
        background: #009688;
        border: none;
        width: 100%;
        font-size: 15px;
        text-transform: uppercase;
        padding: 18px;
        color: #fff;
        cursor: pointer;
    }

    #add-cat:hover {
        opacity: 0.9;
    }

    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: translateY(-150px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<div class="container-fluid animatedParent animateOnce my-3">
    <div class="d-flex justify-content-between">
        <h1>List category</h1>
        <a href="#">
            <button type="button" class="js-add-cat btn btn-primary btn-lg r-20"><i class="icon icon-add"></i>Add
                category
            </button>
        </a>
    </div>
    <div class="progress progress-xs mb-3 mt-3">
        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>
    <ul class="accordion">
        {{#each categories}}

            <li class="accordion-item">
                <div class="accordion-item-header d-flex justify-content-between">
                    <div>
                        {{name}}
                        <span class="btn-fab btn-fab-sm shadow btn-success">{{amount}}</span>
                    </div>
                    <div class="modify-cat">
                        <span class="btn-fab btn-fab-sm shadow btn-info js-add-sub-cat"
                              onclick="setGlobalId(`{{_id}}`)"><i class="icon-add"></i></span>
                        <span class="btn-fab btn-fab-sm shadow btn-warning js-edit-cat"
                              onclick="setGlobalId(`{{_id}}`)"><i
                                class="icon-edit"></i></span>
                        <span class="btn-fab btn-fab-sm shadow btn-danger" onclick="handleDeleteCategory(`{{_id}}`)"><i
                                class="icon-trash-can"></i></span>
                    </div>
                </div>
                <div class="accordion-item-body">
                    <ul class="accordion-item-body-content">
                        {{#each subCat}}
                            <li class="m-3">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        {{name}}
                                        <span class="btn-fab btn-fab-sm shadow btn-success">{{number}}</span>
                                    </div>
                                    <div>
                                <span class="btn-fab btn-fab-sm shadow btn-warning js-modal-sub-cat-modify js-edit-sub-cat"
                                      style="cursor: pointer;"
                                      onclick="setGlobalIdAndName(`{{../_id}}`, `{{name}}`)"><i
                                        class="icon-edit"></i></span>
                                        <span class="btn-fab btn-fab-sm shadow btn-danger" style="cursor: pointer;"
                                              onclick="handleDeleteSubcategory(`{{../_id}}`, `{{name}}`)"><i
                                                class="icon-trash-can"></i></span>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </li>


        {{/each}}

    </ul>
</div>

<div class="modal-cat js-modal-cat">
    <div class="modal-container js-modal-container">
        <div class="modal-close js-modal-close">
            <i class="icon-close"></i>
        </div>
        <header class="modal-header-cat">
            <i class="i-header icon-goals-1 s-24"></i>
            Category
        </header>

        <div class="modal-body-cat">
            <label for="nameCat" class="modal-label-cat">

                <h4><i class="icon-goals-1 s-24"></i>Name</h4>
            </label>
            <input type="text" id="nameCat" class="modal-input-cat" placeholder="" required>
            <button id="add-cat" onclick="handleAddCategory()">
                Add <i></i>
            </button>
        </div>
    </div>
</div>

<div class="modal-sub-cat js-modal-sub-cat">
    <div class="modal-container js-modal-container-sub-cat">
        <div class="modal-close js-modal-close-sub-cat">
            <i class="icon-close"></i>
        </div>
        <header class="modal-header-cat">
            <i class="i-header icon-goals-1 s-24"></i>
            Add Sub Category
        </header>

        <div class="modal-body-cat">
            <label for="nameCat" class="modal-label-cat">

                <h4><i class="icon-goals-1 s-24"></i>Name</h4>
            </label>
            <input type="text" id="nameSubCat" class="modal-input-cat" placeholder="" required>
            <button id="add-cat" onclick="handleAddSubCategory()">
                Add <i></i>
            </button>
        </div>
    </div>
</div>


<div class="modal-edit-sub-cat js-modal-edit-sub-cat">
    <div class="modal-container js-modal-container-edit-sub-cat">
        <div class="modal-close js-modal-close-edit-sub-cat">
            <i class="icon-close"></i>
        </div>
        <header class="modal-header-cat">
            <i class="i-header icon-goals-1 s-24"></i>
            Edit Sub Category
        </header>

        <div class="modal-body-cat">
            <label for="nameCat" class="modal-label-cat">

                <h4><i class="icon-goals-1 s-24"></i>Name</h4>
            </label>
            <input type="text" id="nameUpdateSub" class="modal-input-cat" placeholder="" required>

            <button id="add-cat" onclick="handleUpdateSubcategory()">
                Edit <i></i>
            </button>
        </div>
    </div>
</div>

<div class="modal-edit-cat js-modal-edit-cat">
    <div class="modal-container js-modal-container-edit-cat">
        <div class="modal-close js-modal-close-edit-cat">
            <i class="icon-close"></i>
        </div>
        <header class="modal-header-cat">
            <i class="i-header icon-goals-1 s-24"></i>
            Edit Category
        </header>

        <div class="modal-body-cat">
            <label for="nameCat" class="modal-label-cat">

                <h4><i class="icon-goals-1 s-24"></i>Name</h4>
            </label>
            <input type="text" id="nameUpdate" class="modal-input-cat" placeholder="" required>

            <button id="add-cat" onclick="handleUpdateCategory()">
                Edit <i></i>
            </button>
        </div>
    </div>
</div>
